.modal-Avatar{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}

.modal-Avatar.aberto {
  display: flex;
  opacity: 1;
}

.modal-conteudo {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal-Avatar.aberto .modal-conteudo {
  opacity: 1;
  transform: scale(1);
}

.fechar {
  float: right;
  cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .modal-conteudo {
    width: 80%;
  }
}
.image-container-Avatar{
    overflow: hidden;
}

.image-container-Avatar img {
    transition: opacity 0.5s;
}

.color-buttons {
    justify-content: center;
}

.color-button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}